<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://lab.maltewassermann.com/viewport-resizer/resizer.min.css">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="banner">
                <img src="~/Photo/Web/Banner_YES_2022_1170x110px-01.jpg" width="1245" height="110" />
            </div>


            <br />

            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li>
                                    <a class="navbar-brand" href="/Home/TrangChu">
                                        <img src="~/Photo/Web/Logo_290x56px-01__002_.jpg" />
                                    </a>
                                </li>
                                <li class="nav-item text-danger">
                                    <img src="~/Photo/Web/so-dien-thoai-duong-day-nong-so-y-te-tinh-gia-lai.jpeg" width="25" height="25" />
                                    Hotline :<br />
                                    <span style="padding-left:25px;">032986771</span>
                                    <br />
                                    <span style="padding-right:25px;color:black">Thứ 2 đến Chủ Nhật</span>


                                </li>

                                <li class="find">
                                    <form class="d-flex flex-row align-items-center flex-wrap"
                                          action="/home/trangchu">
                                        @Html.TextBox("Search", ViewBag.search as string, new { @class = "find_Main" })
                                        <button type="submit" class="btn_find ">Tìm</button>
                                    </form>

                                </li>
                                <li class="find acount">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="/acount/detail/@User.Identity.Name">
                                            <div class="text-danger">
                                                @User.Identity.Name

                                            </div>
                                        </a>

                                        <a class="text-danger" href="/account/logout">Đăng XUất</a>
                                    }
                                    else
                                    {
                                        <a href="/account/login">
                                            <img src="~/Photo/Web/user-regular-24.png" />
                                        </a>
                                    }
                                    @if (User.Identity.IsAuthenticated)
                                    {

                                    }

                                </li>
                                <li class="acount p-4">
                                    <a href="/GioHang/Index">
                                        <img src="~/Photo/Web/cart-regular-24.png" />
                                        (<span style="color:lightgreen">@{Html.RenderPartial("GioHang");}</span>)
                                    </a>

                                </li>

                            </ul>





                        </div>
                    </div>
                </nav>
            </div>
            <div class="line1">
                <ul class="r1">
                    <li>
                        <a href="/Sach/Index" style="padding-top:10px;">
                            SÁCH TIẾNG VIỆT
                        </a>

                    </li>
                    <li>
                        <a href=""class="text-danger">
                            ENGLISH BOOKS
                        </a>

                    </li>
                    <li>
                        <a href="">
                            ĐỒ CHƠI
                        </a>

                    </li>
                    <li>
                        <a href="">
                            ƯU ĐÃI HOT
                        </a>

                    </li>
                </ul>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <br />
    <div class="" style="background-color:lightgray">
        <div class="row">
            <div class="col-2">


            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class=" col-6">
                        <p> Đăng ký nhận bản tin của Nhà Sách Phương Nam</p>
                        <ul style="list-style-type:none;">
                            <li style="display:inline-block">
                                <input type="Text" style="width: 400px; height: 30px" />
                            </li>
                            <li style=" ; display: inline-block">
                                <button type="submit" style="background-color:orange;width:25px;height:30px"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">

                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-4">
                        <h4>VỀ CHÚNG TÔI</h4>
                        <div style="border-bottom:solid 1px gray;"></div>
                        <a href="">
                            Giới Thiệu Nhà Sách Phương Nam
                        </a>
                        <br />
                        <a href="">
                            Hệ Thống Nhà Sách Phương Nam
                        </a>
                        <br />
                        <a href="">
                            Điều Khoản Sử Dụng
                        </a>
                    </div>
                    <div class="col-4">
                        <div style="padding-left:10px;">
                            <h4>TÀI KHOẢN CỦA TÔI</h4>
                            <div style="border-bottom:solid 1px gray;"></div>
                            <a href="/Account/Login">
                                Đăng Nhập
                            </a>
                            <br />
                            <a href="/Account/Register">
                                Đăng Ký
                            </a>
                            <br />

                        </div>
                    </div>
                    <div class="col-4">
                        <div style="padding-left:10px;">
                            <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>
                            <div style="border-bottom:solid 1px gray;"></div>
                            <a href="">
                                Hotline: 1900 6656
                            </a>
                            <br />
                            <a href="">
                                Email: hotro@nhasachphuongnam.com
                            </a>
                            <br />
                            <ul>
                                <li>

                                </li>
                                <li>

                                </li>
                                <li>

                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

                <br />
                <div style="background-color:orange">
                    <p style="text-align:center">© 2010 - Bản quyền của Công Ty Cổ Phần Văn Hóa Phương Nam - nhasachphuongnam.com</p>
                    <p style="text-align:center">Giấy chứng nhận Đăng ký Kinh doanh số 0301860552 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 15/08/2019</p>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>


</body>
</html>

